
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="600">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>BMI Calculator</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">BMI Calculator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calories">Kalkulator kalorii</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Oblicz swój wskaźnik BMI</h1>
    </div>

    <form action="/run" method="get">
        <label for="inlineRadio1">Płeć: </label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Kobieta</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Mężczyzna</label>
        </div>

        <div class="form-group">
            <label for="inputWeight">Waga: </label>
            <input type="number" step="0.5"  name="weight" class="form-control" id="inputWeight" >
        </div>
        <div class="form-group">
            <label for="inputHeight">Wzrost: </label>
            <input type="number" step="1"  name="height" class="form-control" id="inputHeight">
        </div>

        <button type="submit" class="btn btn-primary">Oblicz</button>
    </form>

    <h4>Zakresy wartości BMI:</h4>
    <p>mniej niż 16 - wygłodzenie</p>
    <p>16 - 16.99 - wychudzenie</p>
    <p>17 - 18.49 - niedowaga</p>
    <p>18.5 - 24.99 - wartość prawidłowa</p>
    <p>25 - 29.99 - nadwaga</p>
    <p>30 - 34.99 - I stopień otyłości</p>
    <p>35 - 39.99 - II stopień otyłości</p>
    <p>powyżej 40 - otyłość skrajna</p>

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
